@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.top-page {
  display: block;
  padding-top: 150px;
  padding-bottom: 80px;
  /* border: 1px solid black; */
}

.top-page > :nth-child(1) {
  width: 100%;
  margin: auto;
  position: absolute;
  left: 32%;
  top: -75%;
  width: 1000px;
  height: 1500px;
  z-index: -1;
  display: block;
  border-radius: 100px;
  background-color: #fff5e8;
  transform: rotate(-23deg);
  box-sizing: border-box;
  overflow: hidden;
}

.top-content {
  display: flex;
  width: 70%;
  margin: auto;
  padding: 0 40px;
  /* justify-content: space-evenly; */
}

.top-content > :nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 auto;
}
.top-content > :nth-child(1) > :nth-child(1) {
  display: flex;
  font-size: 16px;
  font-family: "lato", sans-serif;
  line-height: 20px;
  font-weight: 600;
  align-items: center;
  text-align: start;
  color: #00b289;
}
.top-content > :nth-child(1) > :nth-child(1) > img {
  margin-right: 10px;
}
.top-content > :nth-child(1) > h1 {
  font-family: "Open Sans", sans-serif;
  color: #4c525a;
  font-size: 44px;
  line-height: 57.2px;
}
.top-content > :nth-child(1) > :nth-child(3) {
  width: 75%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #4c525a;
  line-height: 28px;
  font-size: 20px;
}
.top-content > :nth-child(2) {
  width: 50%;
  display: flex;
  margin: auto;
}

.top-content > :nth-child(2) > img {
  width: 100%;
  align-self: flex-end;
}

.topbuttons > :nth-child(1) {
  padding: 30px;
  border: 2px solid #00b289;
  background-color: transparent;
  margin-top: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 17px;
  color: #4c525a;
}
.topbuttons > :nth-child(2) {
  padding: 30px;
  border: 2px solid #00b289;
  background-color: #00b289;
  margin-top: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
}
.topbuttons > :nth-child(2):hover {
  cursor: pointer;
  background-color: #03906f;
  border: 2px solid #03906f;
}

.top-desc {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.top-desc > :nth-child(1) {
  margin: auto;
  max-width: 900px;
}
.top-desc > :nth-child(1) > h2 {
  font-size: 32px;
  line-height: 44.8px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #4c525a;
}
.top-desc > :nth-child(1) > h2 > span {
  color: #00b289;
  cursor: pointer;
}
.topdesc-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 20px auto 0px;
}
.topdesc-grid > div {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
  text-align: left;
  margin: 0 auto;
}
.topdesc-grid > div > img {
  width: 40%;
  display: block;
  margin-bottom: 15px;
}
.top-desc > :nth-child(2) > div > :nth-child(2) {
  font-size: 24px;
  font-family: "lato", sans-serif;
  line-height: 28.8px;
  color: #4c525a;
  text-align: left;
  font-weight: 600;
  margin-bottom: 10px;
}

.top-desc > :nth-child(2) > div > :nth-child(3) {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #4c525a;
}
